/* ----- GENERAL ----- */

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: #ffffff;
}



p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}

img {
  max-width: 100%;
}

/* ----- HEADER ----- */

header {
  background-color: #d41e1e;
  height: 80px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.logo {
  width: 150px;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff; 
  background-color: #d41e1e; 
  transition: background-color 0.3s ease, transform 0.3s ease; 
  padding: 20px 20px; 
  border-radius: 10px;
  display: inline-block; 
}

nav ul li a:hover {
  background-color: #B21818; 
  transform: scale(1.05); 
}



/*BARRA DE BUSQUEDA*/

.search-icon {
  position: relative;
  display: flex; 
  align-items: center; 
}

.search-icon i {
  margin-right: 10px; 
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.search-input {
  width: 0; 
  padding: 5px 10px; 
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  color: #000000;
  outline: none;
  transition: width 0.3s ease; 
}

.search-input.active {
  width: 200px; 
}



/* ----- BANNER ----- */

.banner {
  background-color: #000000;
  padding: 50px 0;
  text-align: center;
}

.banner h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.banner p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}
  
/* Contenido */
.contenido {
  padding: 2
}



/*PRIMER DIV*/

.QUIENESOMOS{
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
  flex-direction: column; /* Cambiar la dirección del flex a columna */
  background-color: #202020;
  padding: 30px 30px;
  border-radius: 40px;
  margin: 10px auto;
  max-width: 1400px;
  height: 150px;
}






.PORQUE,
.HASTA {
  flex: 1; /* Distribuir el espacio disponible entre los elementos */
  text-align: justify;
  align-items: center;
  background-color: #202020;
  padding: 30px 30px;
  border-radius: 40px;
  margin: 0 10px; /* Espacio entre los elementos */
  max-width: 600px;
  height: 340px;
}

.titPQ,
.titHASTA {
  text-align: center;
}


.VISION{
  text-align: justify;
  align-items: center;
  background-color: #202020;
  padding: 30px 30px;
  border-radius: 40px;
  margin: 0 auto;
  max-width: 600px;
  height: 340px;
}

.MISION{
  text-align: justify;
  align-items: center;
  background-color: #202020;
  padding: 30px 30px;
  border-radius: 40px;
  margin: 0 auto;
  max-width: 600px;
  height: 340px;
}

.footer {
  background-color: #d41e1e;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); 
}

html{
  scroll-behavior: smooth;
}

